<a href="https://colab.research.google.com/github/rohitingole17792/AI-based-Content-Detection-and-Text-Detection-/blob/main/Linear_Reg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#importing pandas

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data=pd.read_csv('/content/train.csv')

In [25]:
data.head(15)

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,9.300,0.016047,249.8092,1999,3735.1380,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,5.920,0.019278,48.2692,2009,443.4228,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
2,17.500,0.016760,141.6180,1999,2097.2700,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,19.200,0.000000,182.0950,1998,732.3800,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,8.930,0.000000,53.8614,1987,994.7052,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
5,10.395,0.000000,51.4008,2009,556.6088,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
6,13.650,0.012741,57.6588,1987,343.5528,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
7,NaN,0.127470,107.7622,1985,4022.7636,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
8,16.200,0.016687,96.9726,2002,1076.5986,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
9,19.200,0.094450,187.8214,2007,4710.5350,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
10,11.800,0.000000,45.5402,1999,1516.0266,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
11,18.500,0.045464,144.1102,1997,2187.1530,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
12,15.100,0.100014,145.4786,1999,1589.2646,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
13,17.600,0.047257,119.6782,1997,2145.2076,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
14,16.350,0.068024,196.4426,1987,1977.4260,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0

In [26]:
data=pd.get_dummies(data)

In [27]:
#dimensions of the dataset
data.shape

(8523, 1605)

In [28]:
data=pd.get_dummies(data)

In [29]:
#making the train dataset

train=data[0:7999]

In [30]:
#making the test dataset

test=data[8000:0]

In [31]:
test.head()

Empty DataFrame
Columns: [Item_Weight, Item_Visibility, Item_MRP, Outlet_Establishment_Year, Item_Outlet_Sales, Item_Identifier_DRA12, Item_Identifier_DRA24, Item_Identifier_DRA59, Item_Identifier_DRB01, Item_Identifier_DRB13, Item_Identifier_DRB24, Item_Identifier_DRB25, Item_Identifier_DRB48, Item_Identifier_DRC01, Item_Identifier_DRC12, Item_Identifier_DRC13, Item_Identifier_DRC24, Item_Identifier_DRC25, Item_Identifier_DRC27, Item_Identifier_DRC36, Item_Identifier_DRC49, Item_Identifier_DRD01, Item_Identifier_DRD12, Item_Identifier_DRD13, Item_Identifier_DRD15, Item_Identifier_DRD24, Item_Identifier_DRD25, Item_Identifier_DRD27, Item_Identifier_DRD37, Item_Identifier_DRD49, Item_Identifier_DRD60, Item_Identifier_DRE01, Item_Identifier_DRE03, Item_Identifier_DRE12, Item_Identifier_DRE13, Item_Identifier_DRE15, Item_Identifier_DRE25, Item_Identifier_DRE27, Item_Identifier_DRE37, Item_Identifier_DRE48, Item_Identifier_DRE49, Item_Identifier_DRE60, Item_Identifier_DRF01, Item_Identifier_DRF03, Item_Identifier_DRF13, Item_Identifier_DRF15, Item_Identifier_DRF23, Item_Identifier_DRF25, Item_Identifier_DRF27, Item_Identifier_DRF36, Item_Identifier_DRF37, Item_Identifier_DRF48, Item_Identifier_DRF49, Item_Identifier_DRF51, Item_Identifier_DRF60, Item_Identifier_DRG01, Item_Identifier_DRG03, Item_Identifier_DRG11, Item_Identifier_DRG13, Item_Identifier_DRG15, Item_Identifier_DRG23, Item_Identifier_DRG25, Item_Identifier_DRG27, Item_Identifier_DRG36, Item_Identifier_DRG37, Item_Identifier_DRG39, Item_Identifier_DRG48, Item_Identifier_DRG49, Item_Identifier_DRG51, Item_Identifier_DRH01, Item_Identifier_DRH03, Item_Identifier_DRH11, Item_Identifier_DRH13, Item_Identifier_DRH15, Item_Identifier_DRH23, Item_Identifier_DRH25, Item_Identifier_DRH36, Item_Identifier_DRH37, Item_Identifier_DRH39, Item_Identifier_DRH49, Item_Identifier_DRH51, Item_Identifier_DRH59, Item_Identifier_DRI01, Item_Identifier_DRI03, Item_Identifier_DRI11, Item_Identifier_DRI13, Item_Identifier_DRI23, Item_Identifier_DRI25, Item_Identifier_DRI37, Item_Identifier_DRI39, Item_Identifier_DRI47, Item_Identifier_DRI49, Item_Identifier_DRI51, Item_Identifier_DRI59, Item_Identifier_DRJ01, Item_Identifier_DRJ11, Item_Identifier_DRJ13, Item_Identifier_DRJ23, Item_Identifier_DRJ24, Item_Identifier_DRJ25, ...]
Index: []

[0 rows x 1605 columns]

In [32]:
x_train=train.drop('Item_Outlet_Sales', axis=1)

In [33]:
y_train=train['Item_Outlet_Sales']

In [34]:
x_test=test.drop('Item_Outlet_Sales', axis=1)

In [35]:
true_p=test['Item_Outlet_Sales']

In [36]:
from sklearn.linear_model import LinearRegression

In [37]:
lreg=LinearRegression()

In [43]:
lreg.fit(x_train,y_train)

LinearRegression()

In [45]:
x_train=pd.get_dummies(x_train)

In [46]:
x_train.shape

(7999, 1604)

In [47]:
x_test=pd.get_dummies(x_test)

In [48]:
x_train.fillna(0,inplace=True)

In [49]:
x_test.fillna(0,inplace=True)

In [57]:
lreg.predict(x_test)

ValueError: Found array with 0 sample(s) (shape=(0, 1604)) while a minimum of 1 is required by LinearRegression.

In [51]:
x_test.shape

(0, 1604)

In [52]:
x_test = x_test.fillna(0)